@import "https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800";

$font-stack: "Nunito Sans", sans-serif;

/* Light theme */
$vDarkBlueText: hsl(200, 15%, 8%);
$darkGrayInput: hsl(0, 0%, 52%);
$veryLightGrayBg: hsl(0, 0%, 98%);

/* Dark theme */
$darkBlue: hsl(209, 23%, 22%);
$vDarkBlueBg: hsl(207, 26%, 17%);
$whiteText: hsl(0, 0%, 100%);
